apiVersion: v1
kind: Service
metadata:
  name: oklab
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec:
  type: ClusterIP
  ports:
  - name: "oklab"
    port: 8080
  selector:
    app: oklab
